/* Zoom in effect of motorsport */
.animate__zoomInRight {
    display: inline-block;
    margin: 0 0.5rem;
    animation: zoomInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s;
    /* don't forget to set a duration! */

}


/* tada effect */
.animate__tada {
    display: inline-block;
    margin: 0 0.5rem;

    animation: tada;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
    animation-iteration-count: infinite;
}

/*  footer */
footer {
    background-color: #484B50;
    border-bottom: 5px solid #ff7300;
    height: 500px;
    width: 100%;
    padding-top: 150px;
    margin-top: 900px;
    /* position: relative; */


}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-list p {
    color: white;
}

.footer-list a {
    color: #979797;
    text-decoration: none;
}

.footer-list a:hover {
    color: #ff7300;
}

.footer-img {
    max-width: 200px;
    padding-bottom: 15px;
}