/* Yash Bishnoi */

/* Zoom in effect of motorsport */
.animate__zoomInRight {
    display: inline-block;
    margin: 0 0.5rem;
    animation: zoomInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s;
    /* don't forget to set a duration! */

}


/* tada effect */
.animate__tada {
    display: inline-block;
    margin: 0 0.5rem;

    animation: tada;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
    animation-iteration-count: infinite;
}


/* footer */
footer {
    background-color: #484B50;
    border-bottom: 5px solid #ff7300;
    height: 500px;
    width: 100%;
    padding-top: 150px;
    margin-top: 900px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-list p {
    color: white;
    margin: 0;
}

.footer-list a {
    color: #979797;
    text-decoration: none;
}

.footer-list a:hover {
    color: #ff7300;
}

.footer-img {
    max-width: 200px;
    padding-bottom: 15px;
}

.back-to-top {
    padding: 10px 50px;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    margin: auto;
    display: inline-block;
}

.back-to-top:hover {
    border: 2px solid #ff7300;
    background-color: #ff7300;
}

@media (max-width: 767.98px) {
    footer {
        padding: 30px 15px;
        text-align: center;
    }

    .footer-list {
        text-align: center;
    }

    .footer-img {
        max-width: 150px;
        margin: 0 auto;
        display: block;
    }

    .col-12.col-md-6 {
        margin-bottom: 20px;
    }

    .d-flex.align-items-end.justify-content-end {
        justify-content: center !important;
        align-items: center !important;
    }

    .back-to-top {
        margin: 20px auto;
    }
}

@media (min-width: 768px) {
    .footer-list {
        text-align: left;
    }

    .col-12.col-md-6:nth-child(2) .footer-list {
        text-align: right;
    }

    .footer-img {
        margin-top: 10px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .back-to-top {
        margin: 0 auto;
        margin-right: 12px;
    }
}